{
  "extends": [
    "next/core-web-vitals",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@next/next/no-document-import-in-page": "off",
    "@next/next/no-img-element": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-var-requires": "off",
    "arrow-body-style": "off",
    "eol-last": ["error", "always"],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "max-lines": ["error", { "max": 800, "skipBlankLines": true }],
    "no-console": "warn",
    "react-hooks/exhaustive-deps": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-key": "error",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "newlines-between": "always"
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["block-like"]
      },
      {
        "blankLine": "always",
        "prev": ["block-like"],
        "next": "*"
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1,
        "when": "multiline"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
