a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

p,
a,
div,
span,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-size: $text-medium;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  opacity: 0.9;
}

div,
span,
input {
  box-sizing: border-box;
}
