/*
 * Colors
 */

$color-primary: #ff6f91;
$color-primary-dark: #c45c74;
$color-bg: #f8f9f9;
$color-text: #212f3c;
$color-border: rgba(0, 0, 0, 0.14);
$color-line: rgba(0, 0, 0, 0.1);
$color-dark: #212f3d;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #cb4335;

/*
 * Sizes
 */

$text-small: 0.7rem;
$text-medium: 0.9rem;
$text-large: 1.35rem;
$text-huge: 1.9rem;

/*
 * Shape
 */

$element-height: 44px;
$element-border-radius: 4px;

/*
 * z-index
 */

$z-index-200: 200;
$z-index-400: 400;
$z-index-600: 500;
$z-index-800: 600;
$z-index-latest: 1000;
