.stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  margin-bottom: 20px;

  @include screen-md-down {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    cursor: pointer;

    .icon-and-title {
      display: flex;
      flex-grow: 1;

      .icon {
        svg {
          fill: $color-white;
        }
      }

      .title {
        font-weight: 500;
        margin: 0 10px;
      }
    }

    .toggle-icon {
      width: 40px;
      outline: none;
      transition-duration: 0.2s;

      &.rotate {
        transform: rotate(180deg);
      }

      svg {
        fill: $color-white;
      }
    }
  }

  .details {
    max-height: 400px;
    padding-top: 18px;
    transition: max-height 0.2s ease;

    &.collapse {
      max-height: 0;
      overflow: hidden;
    }

    .detail {
      display: block;
      margin-top: 0;
      margin-bottom: 2px;
      color: $color-white;
      font-size: $text-medium;
      opacity: 0.8;
    }
  }
}
